.education {
  grid-row: 3/6;

  @media only screen and (max-width: $bp-small) {
    grid-row: 5/6;
    grid-column: 1/-1;
  }

  &__list {
    &--pic {
      width: 100%;
      height: auto;
      border-radius: 1.2rem;
    }

    &--location {
      display: flex;
      align-items: center;
    }

    &--icon {
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
      fill: $color-grey-dark-3;
    }

    &--loc {
      color: $color-grey-dark-3;
    }

    &--degree {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
      }
    }

    &--timeline {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: max-content;
      margin-right: 2rem;

      @media only screen and (max-width: $bp-medium) {
        flex-direction: row;
        margin-right: 0;
        margin-bottom: 2rem;
      }

      span {
        display: block;
        height: 6rem;
        width: 0.3rem;
        background-color: #f8aa0b;
        margin: 0.3rem 0;
        border-radius: 1.2rem;
        @media only screen and (max-width: $bp-medium) {
          height: 0.3rem;
          width: 3rem;
          margin: 0 1rem;
        }
      }
    }

    &--degree-item {
      width: 80%;

      ul {
        list-style: none;
      }
    }
  }
}
