.education {
  grid-row: 3/6;

  &__list {
    &--pic {
      width: 100%;
      height: auto;
      border-radius: 1.2rem;
    }

    &--location {
      display: flex;
      align-items: center;
    }

    &--icon {
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
      fill: $color-grey-dark-3;
    }

    &--loc {
      color: $color-grey-dark-3;
    }

    &--degree {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    &--timeline {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: max-content;

      margin-right: 3rem;

      span {
        display: block;
        height: 6rem;
        width: 0.3rem;
        background-color: #f8aa0b;
        margin: 0.3rem 0;
        border-radius: 1.2rem;
      }
    }

    &--degree-item {
      width: 80%;

      ul {
        list-style: none;
      }
    }
  }
}
