.skills {
  grid-row: 3/5;
  grid-column: 1/2;
  @media only screen and (max-width: $bp-small) {
    grid-column: 1/3;
  }

  &__class {
    &--item {
      display: flex;
      align-items: center;

      @media only screen and (max-width: $bp-medium) {
        flex-wrap: wrap;
        margin-top: 1rem;
      }
      @media only screen and (max-width: $bp-small) {
        flex-wrap: nowrap;
      }
    }
  }
}

.skill {
  width: 10rem;
  margin-right: 2rem;
  @media only screen and (max-width: $bp-small) {
    width: 40%;
  }
}

.meter {
  height: 0.96rem;
  width: 100%;
  background-color: $color-grey-light-2;
  border-radius: 1.2rem;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    height: 0.67rem;
  }

  span {
    position: relative;
    height: 100%;
    background-color: #f8aa0b;
    border-radius: 1.2rem;
    display: block;
  }
}
